__pycache__/
*.pyc
.env
**/venv/
.venv/
backend/venv/


tasks_notes/
.gradio/
logs/
*.log

models/
instagram_scapping/
rag_project.egg-info/

data/
node_modules/
.next/

*.csv
**/vector_db/

TODO.md
GUIDE.md
PROJECT_STRUCTURE.md

notebooks/